/* body * {
    border: 1px solid orange 
}
*/

.container_section {
    padding-top: 1rem;
}

.content {
    display: flex;
    justify-content: end;
    gap: 9rem;
    text-shadow: .1rem .1rem .5rem var(--black);
}


.content {
    display: flex;
    justify-content: end;
    gap: 9rem;
    text-shadow: .1rem .1rem .5rem var(--black);
}

.container-text {
    flex-basis: 40%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
    font-size: 1.8rem;
    font-family: var(--font-variant);
}

.container-text .text-bridge {
    color: var(--white);
    margin: 1.7rem 0;
}

.container-text .text-title {
    color: var(--orange-70);
    margin-bottom: .5rem;
}

.container-text .text-description {
    font-family: var(--font-variant);
    font-weight: 100;
}


.container-img {
    flex-basis: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-img img {
    width: 100%;
    object-fit: cover;
    height: 90%;
    border-radius: 1.6rem 0 0 1.6rem;
    box-shadow: 0 0 .8rem 0 var(--purple-40);

}


.content:nth-child(even) {
    transform: rotateY(-180deg);
    gap: 2.5rem;
}

.content:nth-child(even) .container-img img {
    border-radius: 0 2rem 2rem 0;
    transform: rotateY(-180deg);
}

.content:nth-child(even) .container-text {
    border-radius: 0 2rem 2rem 0;
    transform: rotateY(-180deg);
}

.container-text a {
    text-decoration: none;
    color: var(--font-text);
}

.container-text .text-bridge:hover a, .container-text .text-bridge:hover .line {
    color: var(--purple-40);
}

.list {
    list-style-type: circle;
}

@media screen and (width <= 1050px) {

    .content {
        gap: 2rem;
        margin: 4rem 0;
    }

    .container-text .text-description {
        padding-right: 0;
    }

    .container-text,
    .container-img {
        flex-basis: 45%;
    }
}

@media screen and (width < 768px) {
    .content {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }

    .container-text,
    .container-img {
        padding: 2rem;
        flex-basis: 90%;
    }

    .container-img img {
        border-radius: 2rem 2rem 2rem 2rem;
    }
    .content:nth-child(even) .container-text {
        border-radius: 2rem 2rem 2rem 2rem;
        transform: rotateY(-180deg);
    }


    .content:nth-child(even) .container-img img {
        border-radius: 2rem 2rem 2rem 2rem;
        transform: rotateY(-180deg);
    }

}

@media screen and (width <= 390px) {
   
    .container-text,
    .container-img {
        padding: 2rem;
        flex-basis: 90%;
    }

    .container-img img {
        border-radius: 2rem 2rem 2rem 2rem;
    }
    .content:nth-child(even) .container-text {
        border-radius: 2rem 2rem 2rem 2rem;
        transform: rotateY(-180deg);
    }


    .content:nth-child(even) .container-img img {
        border-radius: 2rem 2rem 2rem 2rem;
        transform: rotateY(-180deg);
    }

}