.formulario {
    margin: 3rem 0;
    width: 90%;
    transform: translateX(5%);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.formtag,
.explicacion {
    width: 45%;
}

.formtag {
    padding: 2rem;
    border-radius: .5rem;
    border: .2rem solid var(--purple-base);
    transition: all .1s ease-in-out;
    font-size: var(--h5-size);
}

.formtag:hover{
    background-color: var(--gris-100);
}

.container-groups {
    width: 80%;
    transform: translateX(10%);
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.input-group-button {
    margin-top: 2.5rem;
    display: grid;
    place-items: center;
}

.input-group input::placeholder {
    color: var(--white)
}

.input-group select {
    color: var(--white)
}

.input-group input,
select {
    text-align: center;
    width: 90%;
    padding: .5rem;
    transform: translateX(5%);
    margin: .6rem 0;
    background-color: transparent;
    border: 0;
    border-bottom: .1rem solid var(--purple-base);
    outline: none;
    border-radius: .2rem;
}

input:focus {
    background-color: var(--gris-100);
    border-radius: .4rem;
}

select option {
    color: var(--black);
    font-family: var(--font-heading);
    font-size: 1.6rem;
    padding: .5rem;
}

select option:hover {
    background-color: #ccc;
}

.submit {
    background-color: var(--purple-base);
    border: none;
    padding: .7rem;
    border-radius: .4rem;
}

.submit:hover {
    background-color: white;
    color: var(--purple-base);
}

.explicacion-content {
    padding-left: 2.0rem;
    font-size: var(--h4-size);
    text-align: center;

}

.alerta {
    width: 70%;
    color: white;
    background-color: rgba(255, 0, 0, 0.219);
    border-radius: .5rem;
    margin: 0 auto;
}

.explicacion-content h1 {
    color: var(--purple-base);
}

.explicacion-content p {
    text-align: justify;
}

@media screen and (width < 488px) {

    .formtag,
    .explicacion {
        width: 100%;
    }

    .formtag{
        order: 2;
    }
    .explicacion{
        order: 1;
    }
}

@media screen and (width > 760px) {

    
    .formtag,
    .explicacion {
        width: 40%;
    }

    .formulario{
        gap: 2rem;
    }
}