.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 99vw;
    cursor: pointer;
}

.nav-title {
    margin-left: 20px;
    font-size: 1.3em;
    color: var(--fucsia);
    border:4px solid transparent;
    transition: all .2s ease-in-out;
}

.title {
    border:4px solid transparent;
    transition: all .4s ease-in-out;
}
.title:hover {
    border-bottom: 4px solid var(--green-light);
    text-shadow: 0px 0px 3px var(--green-light);
}

.container-items {
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    font-size: 1.4em;
}

.items{
    padding: 5px;
    border:4px solid transparent;
    border-radius: 8px;
}

.items:hover:not(.tip-container){
    transition: all .4s ease-in-out;
    background-color: rgba(0, 0, 0, 0.637);
    text-shadow: 0px 0px 2px var(--green-light);
    border-bottom:4px solid var(--green-light)
}
.tip-container .tip:hover {
    background-color: rgba(0, 0, 0, 0.637);
    text-shadow: 0px 0px 2px var(--green-light);
    border-bottom:4px solid var(--fucsia)
}

.tip-container {
    display: flex;
    gap: 6px;
}
.tip-container .tip {
    border: 1px solid var(--fucsia);
    color: var(--fucsia);
    
    display: grid;
    place-items: center;
    border-radius: 50%;
    min-width: 20px;
    font-size: .7em;
}


.items a {
    text-decoration: none;
    color: var(--fucsia);
}